# cache autogenerado por django
__pycache__/

#basura
.DS_Store
.directory

#pip logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
*.pot

# mas
MANIFEST
*.egg-info


# temp folder
/tmp

# dependencias
/node_modules
/bower_components

# media
media/

settings.ini