{% extends "master.html" %}
{% load %}
{% block title %}SIP - Incidente{% endblock %}

{% block content %}
  <h1>Estadistica Incidentes</h1>
  <div class="sub-nav">
    <form type="GET" class="BuscarForm">
      {% csrf_token %}
      <p style="display: inline-block; width: 10%; float: left;"><label for="inicio">Desde:</label></p>
      <p style="display: inline-block; width: 35%; float: left;">
        <input style="width:90%" type="date" name="inicio" required id="id_inicio">
      </p>
      <p style="display: inline-block; width: 10%; float: left;"><label for="fin">Hasta:</label></p>
      <p style="display: inline-block; width: 35%; float: left;">
        <input style="width:90%" type="date" name="fin" required id="id_fin">
      </p>
      <button style="display: inline-block;float: left; margin: 1.3% 0 0 2%;" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <div class="box">
  	{% for li in lista %}
  	<section class="list-item">
  		<h1>{{ li.0 }} : {{li.1}}</h1>
  		<article class="cont">
  			<div style="width:{{li.2}}" class="porcentaje"><p>{{li.2}}</p></div>
  		</article>
  	</section>
  	{% empty %}
  	<section class="list-item">
  		<h2>No se encontraron incidentes en el periodo especificado.</h2>
  	</section>
  	{% endfor %}
  </div>
{% endblock %}