{% extends "master.html" %}
{% load %}
{% block title %}SIP - Personas{% endblock %}

{% block content %}
  <h1></h1>
  <div class="box">
  <table class="table ">
    <tbody>
      <tr>
        <th colspan="9">Informacion Principal</th>
      </tr>
      <tr>
        <td colspan="2"><strong>Reg.:</strong> {{ prin.registro }}</td>
        <td colspan="2"><strong>Nombre:</strong> {{ prin.nombre }}</td>
        <td colspan="2"><strong>Apellido:</strong> {{ prin.apellido }} {{ prin.apellido2}}</td>
        <td><strong>Apodo:</strong> "{{ prin.apodo}}"</td>
        <td colspan="2" rowspan="3" style="width: 35%"><img src="{{foto.cara.url}}"></td>
      </tr>
      <tr>
        <td colspan="7"><strong>DNI:</strong> {{ prin.dni}}</td>
      </tr>
      <tr>
        <td colspan="5"><strong>Fecha de nacimiento:</strong> {{prin.fnac}}</td>
        <td colspan="2"><strong>Edad:</strong> {{edad}}</td>
      </tr>
      <tr>
        <td colspan="3"><strong>Nacionalidad:</strong> {{prin.nacionalidad}}</td>
        <td colspan="2"><strong>Provincia:</strong> {{prin.provincia}}</td>
        <td colspan="2"><strong>Ciudad:</strong> {{prin.ciudad}}</td>
        <td colspan="2"><strong>Domicilio:</strong> {{prin.domicilio}}</td>
      </tr>
      <tr>
        <td colspan="5"><strong>Lugar de Residencia:</strong> {{prin.lugar_residencia}}</td>
        <td colspan="4"><strong>Domicilio Laboral:</strong> {{prin.domicilio_laboral}}</td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="box">
  <table class="table ">
    <tbody>
      <tr><th colspan="9">Informacion Complementaria</th></tr>
      <tr>
        <td colspan="2"><strong>Ocupación:</strong> {{ secu.ocupacion}}</td>
        <td colspan="2"><strong>Estado Civil:</strong> {{ secu.estado_civil}}</td>
        <td colspan="3"><strong>Telefono:</strong> {{ secu.telefono }}</td>
        <td colspan="2"><strong>Celular:</strong> {{ secu.celular }}</td>      
      </tr>
      <tr>
          <td colspan="3"><strong>Padre:</strong> {{ secu.nombre_padre }}<strong> / Vive:</strong>{% if secu.padre_vive%} Si {% else%} No {% endif %}</td>
          <td colspan="3"><strong>Madre:</strong> {{ secu.nombre_madre }}<strong> / Vive:</strong>{% if secu.madre_vive%} Si {% else%} No {% endif %}
          </td>
          {% if secu.conyugue %}
          <td colspan="3"><strong>Conyugue:</strong> {{ secu.conyugue }}<strong> / Vive:</strong>{% if secu.conyugue_vive%} Si {% else%} No {% endif %}</td>
          {% else %}
          <td colspan="3"><strong>Conyugue:</strong> No tiene. </td>
          {% endif %}
      </tr>
    </tbody>
  </table>
  </div>
  <div class="box">
  <table class="table ">
    <tbody>
      <tr>
        <th colspan="8">Aspecto Fisico</th>
      </tr>
      <tr style="text-align: left">
        <td colspan="2"><strong>Altura: </strong>{{ fisi.altura }}<br> <strong>Peso: </strong>{{ fisi.peso }}<br> <strong>Tez: </strong>{{ fisi.tez }}<br> <strong>Mano de uso: </strong>{{ fisi.mano_de_uso }}</td>
        <td colspan="2"><strong>Cabello color: </strong>{{ fisi.cabello_color}}<br> <strong>Cabello largo: </strong>{{ fisi.cabello_largo }}<br> <strong>Barba/bigote: </strong>{{ fisi.barba_bigote }}</td>
        <td colspan="2"><strong>Cejas: </strong>{{ fisi.ceja_pilosidad }}<br> <strong>Cejas direccion: </strong>{{ fisi.ceja_direccion }}<br><strong>Color ojos: </strong>{{ fisi.ojo_color}} / {{ fisi.ojo_tono }}<br><strong>Forma ojos: </strong>{{ fisi.ojo_forma }}</td>
        <td colspan="2"><strong>Nariz: </strong>{{ fisi.nariz}}<br><strong>Boca: </strong>{{ fisi.boca_contorno }}<br><strong>Boca espesor: </strong>{{ fisi.boca_espesor }}<br><strong>Menton: </strong>{{ fisi.menton }}</td>
      </tr>
      <tr>
        <th colspan="8">Fotos: {{foto.fecha.date}}</th>
      </tr>
      <tr>
        <td colspan="2"><img src="{{foto.frente.url}}"></td>
        <td colspan="2"><img src="{{foto.izquierda.url}}"></td>
        <td colspan="2"><img src="{{foto.atras.url}}"></td>
        <td colspan="2"><img src="{{foto.derecha.url}}"></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}