{% extends "master.html" %}
{% load %}
{% block title %}SIP - Personas{% endblock %}

{% block content %}
  <h1></h1>
  <div class="box">
  <table class="table ">
    <tbody>
      <tr>
        <th colspan="8">Informacion Principal</th>
        <th style="width:15%"><a href="{% url 'persona-editar' prin.id %}"><span class="fa fa-edit"></span> Editar</a></th>
      </tr>
      <tr>
        <td colspan="2"><strong>Reg.:</strong> {{ prin.registro }}</td>
        <td colspan="2"><strong>Nombre:</strong> {{ prin.nombre }}</td>
        <td colspan="2"><strong>Apellido:</strong> {{ prin.apellido }} {{ prin.apellido2}}</td>
        <td><strong>Apodo:</strong> "{{ prin.apodo}}"</td>
        <td colspan="2" rowspan="3" style="width: 35%"><img src="{{foto.cara.url}}"></td>
      </tr>
      <tr>
        <td colspan="7"><strong>DNI:</strong> {{ prin.dni}}</td>
      </tr>
      <tr>
        <td colspan="5"><strong>Fecha de nacimiento:</strong> {{prin.fnac}}</td>
        <td colspan="2"><strong>Edad:</strong> {{edad}}</td>
      </tr>
      <tr>
        <td colspan="3"><strong>Nacionalidad:</strong> {{prin.nacionalidad}}</td>
        <td colspan="2"><strong>Provincia:</strong> {{prin.provincia}}</td>
        <td colspan="2"><strong>Ciudad:</strong> {{prin.ciudad}}</td>
        <td colspan="2"><strong>Domicilio:</strong> {{prin.domicilio}}</td>
      </tr>
      <tr>
        <td colspan="5"><strong>Lugar de Residencia:</strong> {{prin.lugar_residencia}}</td>
        <td colspan="4"><strong>Domicilio Laboral:</strong> {{prin.domicilio_laboral}}</td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="box">
  <table class="table ">
    <tbody>
      <tr>
        <th colspan="8">Informacion Complementaria</th>
        <th style="width:15%">{% if secu %}<a href="{% url 'info-editar' prin.id %}"><span class="fa fa-edit"></span> Editar</a>{% else %}<a href="{% url 'info-crear' prin.id %}"><span class="fa fa-edit"></span> Crear</a>{% endif %}</th>
      </tr>
      {% if secu %}
      <tr>
        <td colspan="2"><strong>Ocupación:</strong> {{ secu.0.ocupacion}}</td>
        <td colspan="2"><strong>Estado Civil:</strong> {{ secu.0.estado_civil}}</td>
        <td colspan="3"><strong>Telefono:</strong> {{ secu.0.telefono }}</td>
        <td colspan="2"><strong>Celular:</strong> {{ secu.0.celular }}</td>      
      </tr>
      <tr>
          <td colspan="3"><strong>Padre:</strong> {{ secu.0.nombre_padre }}<strong> / Vive:</strong>{% if secu.0.padre_vive%} Si {% else%} No {% endif %}</td>
          <td colspan="3"><strong>Madre:</strong> {{ secu.0.nombre_madre }}<strong> / Vive:</strong>{% if secu.0.madre_vive%} Si {% else%} No {% endif %}
          </td>
          {% if secu.0.conyugue %}
          <td colspan="3"><strong>Conyugue:</strong> {{ secu.0.conyugue }}<strong> / Vive:</strong>{% if secu.0.conyugue_vive%} Si {% else%} No {% endif %}</td>
          {% else %}
          <td colspan="3"><strong>Conyugue:</strong> No tiene. </td>
          {% endif %}
      </tr>
    {% else %}
      <tr>
        <td colspan="9"><strong>Esta informacion no existe.</strong></td>
      </tr>
    {% endif %}
    </tbody>
  </table>
  </div>

  <div class="box">
  <table class="table ">
    <tbody>
      <tr>
        <th colspan="7">Aspecto Fisico</th>
        <th style="width:15%">{% if fisi %}<a href="{% url 'fisico-editar' prin.id %}"><span class="fa fa-edit"></span> Editar</a>{% else %}<a href="{% url 'fisico-crear' prin.id %}"><span class="fa fa-edit"></span> Crear</a>{% endif %}</th>
      </tr>
      {% if fisi %}
      <tr style="text-align: left">
        <td colspan="2"><strong>Altura: </strong>{{ fisi.0.altura }} Mts.<br> <strong>Peso: </strong>{{ fisi.0.peso }} Kg.<br> <strong>Tez: </strong>{{ fisi.0.tez }}<br> <strong>Mano de uso: </strong>{{ fisi.0.mano_de_uso }}</td>
        <td colspan="2"><strong>Cabello color: </strong>{{ fisi.0.cabello_color}}<br> <strong>Cabello largo: </strong>{{ fisi.0.cabello_largo }}<br> <strong>Barba/bigote: </strong>{{ fisi.0.barba_bigote }}</td>
        <td colspan="2"><strong>Cejas: </strong>{{ fisi.0.ceja_pilosidad }}<br> <strong>Cejas direccion: </strong>{{ fisi.0.ceja_direccion }}<br><strong>Color ojos: </strong>{{ fisi.0.ojo_color}} / {{ fisi.0.ojo_tono }}<br><strong>Forma ojos: </strong>{{ fisi.0.ojo_forma }}</td>
        <td colspan="2"><strong>Nariz: </strong>{{ fisi.0.nariz}}<br><strong>Boca: </strong>{{ fisi.0.boca_contorno }}<br><strong>Boca espesor: </strong>{{ fisi.0.boca_espesor }}<br><strong>Menton: </strong>{{ fisi.0.menton }}</td>
      </tr>
      {% else %}
      <tr>
        <td colspan="9"><strong>Esta informacion no existe.</strong></td>
      </tr>
      {% endif %}
      <tr>
        <th colspan="7">Fotos: {{foto.fecha.date}}</th>
        <th><a href="{% url 'foto-crear' prin.id %}"> <span class="fa fa-plus"></span> Actualizar</a></th>
      </tr>
      {% if foto%}
      <tr>
        <td colspan="2" style="width: 25%"><img src="{{foto.frente.url}}"></td>
        <td colspan="2" style="width: 25%"><img src="{{foto.izquierda.url}}"></td>
        <td colspan="2" style="width: 25%"><img src="{{foto.atras.url}}"></td>
        <td colspan="2" style="width: 25%"><img src="{{foto.derecha.url}}"></td>
      </tr>
      {% else %}
      <tr>
        <td colspan="9"><strong>Registro fotografico no existe.</strong></td>
      </tr>  
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}