{% extends "master.html" %}

{% block title %}SIP - Personas{% endblock %}

{% block content %}
  <h1>Personas Registradas</h1>
  <div class="sub-nav">
    <form type="GET" class="BuscarForm">
      {{ filtro.form.as_p }}
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  </div>
  <div class="box">
  <table class="table ">
    <tr>
      <th>Reg.</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Apodo</th>
      <th>DNI</th>
      <th><span class="fa fa-plus""></span> Información</th>
    </tr>
    <tbody>
    {% for a in filtro.qs %}
    <tr>
      <td> {{ a.registro }} </td>
      <td> {{ a.nombre }} </td>
      <td> {{ a.apellido }} </td>
      <td> {{ a.apodo }} </td>
      <td> {{ a.dni }} </td>
      <td><a href="{% url 'persona-detalle' a.id %}" class="Edit">Mostrar</a></td>
    </tr>
    {% empty %}
        <tr>
            <td colspan="6"><strong>No se encontraron Personas o no fueron creadas.</strong></td>
        </tr>
    {% endfor %}
  </tbody>
  </table>
</div>

{% endblock %}