{% extends "master.html" %}

{% block title %}SIP - Personas{% endblock %}

{% block content %}
  <h1>Personas Registradas</h1>
  <div class="sub-nav">
    <form type="GET" class="BuscarForm">
      {{ filtro.form.as_p }}
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  </div>
  <div class="box">
  <table class="table ">
    <tbody>
    <tr>
      <th>ID</th>
      <th>Tipo</th>
      <th>Persona</th>
      <th>Calzado</th>
      <th>Fecha</th>
      <th><span class="fa fa-plus""></span> Información</th>
      <th>Historial Fotos</th>
    </tr>
    {% for a in filtro.qs %}
    <tr>
      <td> {{ a.id }} </td>
      <td> {{ a.tipo }} </td>
      <td> {{ a.persona }} </td>
      <td> {{ a.calzado }} </td>
      <td> {{ a.fecha }} </td>
      <td><a href="" class="Edit">Mostrar</a></td>
    </tr>
    {% empty %}
        <tr>
            <td colspan="6"><strong>No se encontraron Incidentes o no fueron registrados.</strong></td>
        </tr>
    {% endfor %}
  </tbody>
  </table>
</div>

{% endblock %}