{% extends "master.html" %}

{% block title %}SIP - Calzado Detalle{% endblock %}

{% block content %}
  <h1>Calzado {{calzado.marca}}</h1>
  <div class="box">
  <table class="table ">
    <tbody>
    <tr>
      <th>Id</th>
      <th>Marca</th>
      <th>Forma Superio</th>
      <th>Forma Inferior</th>
      <th>Acción</th>
    </tr>
    <tr>
      <td> {{ calzado.id }} </td>
      <td> {{ calzado.marca }} </td>
      <td><img style="max-height: 100px" src="{{ calzado.forma_sup.motivo.url }}"></td>
      <td><img style="max-height: 100px" src="{{ calzado.forma_inf.motivo.url }}"></td>
      <td><a class="Edit" href="{% url 'calzado-editar' calzado.id %}"><span class="fa fa-edit"></span> Editar</a></td>
    </tr>
    <tr>
        <th colspan="4">Fotos</th>
        {% if foto %}
        <th><a href="{% url 'foto-editar' foto.0.id %}"> <span class="fa fa-plus"></span> Actualizar</a></th>
        {% else %}
        <th><a href="{% url 'calzado-foto' calzado.id %}"> <span class="fa fa-plus"></span> Crear</a></th>
        {% endif %}
    </tr>
    {% if foto %}
    <tr>
      <td style="width: 20%"><img src="{{foto.0.frente.url}}"></td>
      <td style="width: 20%"><img src="{{foto.0.izquierda.url}}"></td>
      <td style="width: 20%"><img src="{{foto.0.atras.url}}"></td>
      <td style="width: 20%"><img src="{{foto.0.derecha.url}}"></td>
      <td style="width: 20%"><img src="{{foto.0.inferior.url}}"></td>
    </tr>
    {% else %}
    <tr>
      <td colspan="5"><strong>Registro fotografico no existe.</strong></td>
    </tr>  
    {% endif %}
  </tbody>
  </table>
</div>

{% endblock %}