<ul>
  <li class="drop">
    <a class="drop-btn" href="{% url 'home' %}">Huellas</a>
  </li>
  <li class="drop">
    <a class="drop-btn">Persona</a>
    <div class="drop-cont">
      <a href="{% url 'persona-listar' %}">Listar</a>
      {% if user.is_staff %}    
      <a href="{% url 'persona-crear' %}">Crear</a>
      {% endif %}
    </div>
  </li>
  <li class="drop">
    <a class="drop-btn">Calzado</a>
    <div class="drop-cont">
      <a href="{% url 'calzado-listar' %}">Listar</a>
      {% if user.is_staff %}
      <a href="{% url 'calzado-crear' %}">Crear</a>
      {% endif %}
    </div>
  </li>
  <li class="drop">
    <a class="drop-btn">Incidente</a>
    <div class="drop-cont">
      <a href="{% url 'incidente-listar' %}">Listar</a>
      {% if user.is_staff %}
      <a href="{% url 'incidente-crear' %}">Crear</a>
      <a href="{% url 'incidente-estadistica' %}">Estadistica</a>
      {% endif %}
    </div>
  </li>
  {% ifequal user.groups.all.0.name 'Jefe'%}
  <li class="drop">
    <a class="drop-btn">Oficial</a>
    <div class="drop-cont">
      <a href="{% url 'usuario-registrar' tipo='Oficial'%}">Crear Oficial</a>
      <a href="{% url 'usuario-registrar' tipo='Jefe'%}">Crear Jefe</a>
    </div>
  </li>
  {% endifequal %}
  {% if user.is_superuser%}
  <li class="drop">
    <a class="drop-btn">Oficial</a>
    <div class="drop-cont">
      <a href="#">Listar</a>
      <a href="{% url 'usuario-registrar' tipo='Oficial' %}">Crear Oficial</a>
      <a href="{% url 'usuario-registrar' tipo='Jefe' %}">Crear Jefe</a>
    </div>
  </li>
  {% endif %}
  {% if user.is_authenticated %}
    <li class="right"><form class="none" action="{% url 'logout' %}" method="POST">  {% csrf_token %}<button class="logout-btn" type="submit">Logout</button></form></li>
  {% else %}
    <li class="right"><a class="drop-btn" href="{% url 'login' %}">Login</a></li>
  {% endif %}
</ul> 